<div class="card" style="margin-top: 5vh;">
    <div class="card-body" id="select-card">
        <h4 style="color: white;">Hi! <%= langs[0].name %></h4>
        <h5 style="color: white;">Please select your language</h5>
        <% langs[0].Languanges.forEach(lang => { %>
            <div class="form-check" style="color: white;">
                <input class="form-check-input" type="radio" name="langKode" id="<%= lang.kode %>" value="<%= lang.kode %>">
                <label class="form-check-label" for="<%= lang.kode %>">
                    <%= lang.name %>
                </label>
            </div>
        <% }) %>
    </div>
</div>